<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ story.name }} - Storyblok</title>
</head>
<body>
  {{{body}}}

  <script type="text/javascript" src="//app.storyblok.com/f/storyblok-latest.js"></script>
  <script type="text/javascript">
    storyblok.init()

    // On the change event refresh the window
    storyblok.on('change', function() {
      window.location.reload(true)
    })

    // Listen on the published event to clear the cache
    storyblok.on('published', function() {
      $.ajax({
        url: '/clear_cache'
      })
      .done(function() {
        console.log('cache cleared!')
      })
      .fail(function() {
        console.log('error clearing cache')
      })
    })
  </script>
  
</body>
</html>